.required:after {
    content:" *";
    color: red;
}
.profile-img-uploader {
    position: absolute;
    right: 10px;
    bottom: 5px;
    font-size: 25px;
    background: #D8DADF;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.cover-photo-uploader label {
    background: #fff;
    padding: 5px 20px;
    border-radius: 8px;
    position: absolute;
    right: 15px;
    bottom: 15px;
}

@media only screen and (min-width: 1020px) {
    .loggedin-user-links{
        right: 80px !important;
    }
}

.icon-break{
    text-align: center;
    line-height: 15px;
    margin-top: 15px;
}


.site-header .site-branding img {
    max-width: 230px;
}



@media only screen and (min-width: 1600px) {
    .layout-contained, .tophive-container {
        max-width: 1500px;
        margin: 0 auto;
    }
}
