
[v-cloak] {
    display: none;
}
img{
    border: none;
}

@media only screen and (min-width: 768px) {
    .user-account-segment ul.loggedin-user-links {
        right: 350px !important;
    }
}


.usa-map{
    position: relative;
    margin: 0 auto;
}

.usa-map {
    width: 300px;
    max-width: 100%;
}

/* If need Polygon */
/* -webkit-clip-path:polygon(0 0, 100% 35%, 100% 65%, 0% 100%);
clip-path:polygon(0 0, 100% 35%, 100% 65%, 0% 100%);
width:200px;
height:200px;
background:#E0E6E5 */

.usa-map .al{

}
.usa-map .ak{
    position: absolute;
    width: 14px;
    height: 22px;
    border: 1px solid red;
    bottom: 12px;
    left: 48px;
    z-index: 9;
}
.usa-map .az{

}
.usa-map .ar{

}
.usa-map .ca{

}
.usa-map .co{

}
.usa-map .ct{

}
.usa-map .de{

}
.usa-map .dc{

}
.usa-map .fl{

}
.usa-map .ga{

}
.usa-map .hi{

}
.usa-map .id{

}
.usa-map .il{

}
.usa-map .in{

}
.usa-map .ia{

}
.usa-map .ks{

}
.usa-map .ky{

}
.usa-map .la{

}
.usa-map .me{

}
.usa-map .md{

}
.usa-map .ma{

}
.usa-map .mi{

}
.usa-map .mn{

}
.usa-map .ms{

}
.usa-map .mo{

}
.usa-map .mt{

}
.usa-map .ne{

}
.usa-map .nv{

}
.usa-map .nh{

}
.usa-map .nj{
    position: absolute;
    width: 14px;
    height: 22px;
    border: 1px solid red;
    top: 112px;
    right: 48px;
    z-index: 9;
}
.usa-map .nj::before {
	position: absolute;
	width: 14px;
	height: 14px;
	border: 1px solid red;
	top: 6px;
	content: '';
	right: -18px;
}
.usa-map .nm{

}
.usa-map .ny{

}
.usa-map .nc{

}
.usa-map .nd{

}
.usa-map .oh{

}
.usa-map .ok{

}
.usa-map .or{

}
.usa-map .pa{

}
.usa-map .pr{

}
.usa-map .ri{

}
.usa-map .sc{

}
.usa-map .sd{

}
.usa-map .tn{

}
.usa-map .tx{

}
.usa-map .ut{

}
.usa-map .vt{

}
.usa-map .va{

}
.usa-map .wa{
    position: absolute;
    width: 25px;
    height: 22px;
    border: 1px solid red;
    top: 4px;
    left: 21px;
    z-index: 9;
}
.usa-map .wv{

}
.usa-map .wi{

}
.usa-map .wy{

}



/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {

} */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .usa-map {
        width: 580px;
    }

    .usa-map .wa{
        width: 51px;
        height: 38px;
        top: 6px;
        left: 33px;
    }
    .usa-map .wv{

    }
    .usa-map .wi{

    }
    .usa-map .wy{

    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .usa-map {
        width: 768px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
