.site-content {
    background-color: rgba(232,232,232,0.32);
}
[v-cloak] {
    display: none;
}
img{
    border: none;
}

@media only screen and (min-width: 768px) {
    .user-account-segment ul.loggedin-user-links {
        right: 350px !important;
    }
}


.usa-map{
    position: relative;
    margin: 0 auto;
}

.usa-map {
    width: 300px;
    max-width: 100%;
}

/* If need Polygon */
/* -webkit-clip-path:polygon(0 0, 100% 35%, 100% 65%, 0% 100%);
clip-path:polygon(0 0, 100% 35%, 100% 65%, 0% 100%);
width:200px;
height:200px;
background:#E0E6E5 */

.usa-map .al{
    position: absolute;
    width: 20px;
    height: 27px;
    border: 1px solid red;
    top: 118px;
    left: 198px;
    z-index: 9;

}
.usa-map .ak{
    position: absolute;
    width: 14px;
    height: 22px;
    border: 1px solid red;
    bottom: 12px;
    left: 48px;
    z-index: 9;
}
.usa-map .az{
    position: absolute;
    width: 28px;
    height: 36px;
    border: 1px solid red;
    top: 96px;
    left: 48px;
    z-index: 9;
}
.usa-map .ar{
    position: absolute;
    width: 21px;
    height: 25px;
    border: 1px solid red;
    top: 107px;
    left: 161px;
    z-index: 9;

}
.usa-map .ca{
    position: absolute;
    width: 25px;
    height: 22px;
    border: 1px solid red;
    top: 28px;
    left: 20px;
    z-index: 9;
}

.usa-map .ca::before {
	position: absolute;
	width: 14px;
	height: 14px;
	border: 1px solid red;
	content: '';
    top: 28px;
    left: 20px;
}
.usa-map .co{
    position: absolute;
    width: 34px;
    height: 23px;
    border: 1px solid red;
    top: 77px;
    left: 84px;
    z-index: 9;

}
.usa-map .ct{

}
.usa-map .de{

}
.usa-map .dc{

}
.usa-map .fl{

}
.usa-map .ga{

}
.usa-map .hi{

}
.usa-map .id{
    position: absolute;
    width: 19px;
    height: 37px;
    border: 1px solid red;
    top: 20px;
    left: 48px;
    z-index: 9;
}
.usa-map .il{
    position: absolute;
    width: 14px;
    height: 32px;
    border: 1px solid red;
    top: 65px;
    left: 182px;
    z-index: 9;

}
.usa-map .in{
    position: absolute;
    width: 12px;
    height: 24px;
    border: 1px solid red;
    top: 69px;
    left: 197px;
    z-index: 9;

}
.usa-map .ia{

    position: absolute;
    width: 21px;
    height: 19px;
    border: 1px solid red;
    top: 60px;
    left: 154px;
    z-index: 9;
}
.usa-map .ks{
    position: absolute;
    width: 39px;
    height: 20px;
    border: 1px solid red;
    top: 83px;
    left: 120px;
    z-index: 9;

}
.usa-map .ky{
    position: absolute;
    width: 27px;
    height: 9px;
    border: 1px solid red;
    top: 94px;
    left: 199px;
    z-index: 9;

}
.usa-map .la{
    position: absolute;
    width: 18px;
    height: 24px;
    border: 1px solid red;
    top: 133px;
    left: 163px;
    z-index: 9;

}
.usa-map .me{

}
.usa-map .md{

}
.usa-map .ma{

}
.usa-map .mi{
    position: absolute;
    width: 14px;
    height: 28px;
    border: 1px solid red;
    top: 40px;
    left: 200px;
    z-index: 9;

}
.usa-map .mn{
    position: absolute;
    width: 31px;
    height: 33px;
    border: 1px solid red;
    top: 105px;
    left: 78px;
    z-index: 9;
}
.usa-map .ms{
    position: absolute;
    width: 14px;
    height: 32px;
    border: 1px solid red;
    top: 115px;
    left: 183px;
    z-index: 9;

}
.usa-map .mo{
    position: absolute;
    width: 21px;
    height: 25px;
    border: 1px solid red;
    top: 81px;
    left: 160px;
    z-index: 9;

}
.usa-map .mt{
    position: absolute;
    width: 43px;
    height: 29px;
    border: 1px solid red;
    top: 15px;
    left: 68px;
    z-index: 9;
}
.usa-map .ne{
    position: absolute;
    width: 34px;
    height: 19px;
    border: 1px solid red;
    top: 63px;
    left: 118px;
    z-index: 9;

}
.usa-map .nv{
    position: absolute;
    width: 28px;
    height: 29px;
    border: 1px solid red;
    top: 60px;
    left: 26px;
    z-index: 9;
}
/* .usa-map .nh{

} */
.usa-map .nj{
    position: absolute;
    width: 14px;
    height: 22px;
    border: 1px solid red;
    top: 112px;
    right: 48px;
    z-index: 9;
}
.usa-map .nj::before {
	position: absolute;
	width: 14px;
	height: 14px;
	border: 1px solid red;
	top: 6px;
	content: '';
	right: -18px;
}
.usa-map .nm{


}
.usa-map .ny{

}
.usa-map .nc{

}
.usa-map .nd{
    position: absolute;
    width: 34px;
    height: 21px;
    border: 1px solid red;
    top: 20px;
    left: 113px;
    z-index: 9;

}
.usa-map .oh{
    position: absolute;
    width: 18px;
    height: 20px;
    border: 1px solid red;
    top: 67px;
    left: 210px;
    z-index: 9;

}
.usa-map .ok{
    position: absolute;
    width: 32px;
    height: 19px;
    border: 1px solid red;
    top: 107px;
    left: 128px;
    z-index: 9;

}
.usa-map .or{
    position: absolute;
    width: 25px;
    height: 22px;
    border: 1px solid red;
    top: 28px;
    left: 20px;
    z-index: 9;
}
.usa-map .pa{

}
.usa-map .pr{

}
.usa-map .ri{

}
.usa-map .sc{

}
.usa-map .sd{
    position: absolute;
    width: 34px;
    height: 20px;
    border: 1px solid red;
    top: 42px;
    left: 112px;
    z-index: 9;
}


.usa-map .tn{
    position: absolute;
    width: 31px;
    height: 9px;
    border: 1px solid red;
    top: 105px;
    left: 188px;
    z-index: 9;

}
.usa-map .tx{
    position: absolute;
    width: 50px;
    height: 44px;
    border: 1px solid green;
    bottom: 37px;
    left: 110px;
    z-index: 9;
}
.usa-map .ut{
    position: absolute;
    width: 25px;
    height: 25px;
    border: 1px solid red;
    top: 67px;
    left: 56px;
    z-index: 9;
}
.usa-map .vt{

}
.usa-map .va{

}
.usa-map .wa{
    position: absolute;
    width: 25px;
    height: 22px;
    border: 1px solid red;
    top: 4px;
    left: 21px;
    z-index: 9;
}
.usa-map .wv{
    position: absolute;
    width: 33px;
    height: 21px;
    border: 1px solid red;
    top: 45px;
    left: 75px;
    z-index: 9;

}
.usa-map .wi{
    position: absolute;
    width: 21px;
    height: 25px;
    border: 1px solid red;
    top: 35px;
    left: 171px;
    z-index: 9;

}
.usa-map .wy{

}



/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {

} */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .usa-map {
        width: 580px;
    }


    .usa-map .al{

    }
    .usa-map .ak{

    }
    .usa-map .az{

    }
    .usa-map .ar{

    }
    .usa-map .ca{

    }
    .usa-map .co{

    }
    .usa-map .ct{

    }
    .usa-map .de{

    }
    .usa-map .dc{

    }
    .usa-map .fl{

    }
    .usa-map .ga{

    }
    .usa-map .hi{

    }
    .usa-map .id{

    }
    .usa-map .il{

    }
    .usa-map .in{

    }
    .usa-map .ia{

    }
    .usa-map .ks{

    }
    .usa-map .ky{

    }
    .usa-map .la{

    }
    .usa-map .me{

    }
    .usa-map .md{

    }
    .usa-map .ma{

    }
    .usa-map .mi{

    }
    .usa-map .mn{
        position: absolute;
        width: 21px;
        height: 37px;
        border: 1px solid red;
        top: 20px;
        left: 148px;
        z-index: 9;

    }
    .usa-map .ms{

    }
    .usa-map .mo{

    }
    .usa-map .mt{

    }
    .usa-map .ne{

    }
    .usa-map .nv{

    }
    .usa-map .nh{

    }
    .usa-map .nj{

    }
    .usa-map .nj::before {

    }
    .usa-map .nm{

    }
    .usa-map .ny{

    }
    .usa-map .nc{

    }
    .usa-map .nd{

    }
    .usa-map .oh{

    }
    .usa-map .ok{

    }
    .usa-map .or{

    }
    .usa-map .pa{

    }
    .usa-map .pr{

    }
    .usa-map .ri{

    }
    .usa-map .sc{

    }
    .usa-map .sd{

    }
    .usa-map .tn{

    }
    .usa-map .tx{

    }
    .usa-map .ut{

    }
    .usa-map .vt{

    }
    .usa-map .va{

    }

    .usa-map .wa{
        width: 51px;
        height: 38px;
        top: 6px;
        left: 33px;
    }
    .usa-map .wv{

    }
    .usa-map .wi{

    }
    .usa-map .wy{

    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .usa-map {
        width: 768px;
    }

    .usa-map .al{

    }
    .usa-map .ak{

    }
    .usa-map .az{

    }
    .usa-map .ar{

    }
    .usa-map .ca{

    }
    .usa-map .co{

    }
    .usa-map .ct{

    }
    .usa-map .de{

    }
    .usa-map .dc{

    }
    .usa-map .fl{

    }
    .usa-map .ga{

    }
    .usa-map .hi{

    }
    .usa-map .id{

    }
    .usa-map .il{

    }
    .usa-map .in{

    }
    .usa-map .ia{

    }
    .usa-map .ks{

    }
    .usa-map .ky{

    }
    .usa-map .la{

    }
    .usa-map .me{

    }
    .usa-map .md{

    }
    .usa-map .ma{

    }
    .usa-map .mi{

    }
    .usa-map .mn{

    }
    .usa-map .ms{

    }
    .usa-map .mo{

    }
    .usa-map .mt{

    }
    .usa-map .ne{

    }
    .usa-map .nv{

    }
    .usa-map .nh{

    }
    .usa-map .nj{

    }
    .usa-map .nj::before {

    }
    .usa-map .nm{

    }
    .usa-map .ny{

    }
    .usa-map .nc{

    }
    .usa-map .nd{

    }
    .usa-map .oh{

    }
    .usa-map .ok{

    }
    .usa-map .or{

    }
    .usa-map .pa{

    }
    .usa-map .pr{

    }
    .usa-map .ri{

    }
    .usa-map .sc{

    }
    .usa-map .sd{

    }
    .usa-map .tn{

    }
    .usa-map .tx{

    }
    .usa-map .ut{

    }
    .usa-map .vt{

    }
    .usa-map .va{

    }

    .usa-map .wa{
        width: 51px;
        height: 38px;
        top: 6px;
        left: 33px;
    }
    .usa-map .wv{

    }
    .usa-map .wi{

    }
    .usa-map .wy{

    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
